
* {
    font-family: "Courier Prime Sans", "Helvetica", sans-serif;
    color: darkred;
    font-size: 0.75rem;
    line-height: 1rem

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 0.1rem 0;
}

h1 {
    font-size: 3rem;
    line-height: 3.3rem

}

h2 {
    font-size: 2.5rem;
    line-height:2.75rem

}

h3 {
    font-size: 2rem;
        line-height: 2.2rem

}

h4 {
    font-size: 1.75rem;
    line-height: 1.825rem

}

h5 {
    font-size: 1.5rem;
    line-height: 1.65rem

}

ol, ul {
    text-align: left;
}

p {
    max-height: 100%;
}

img {
    max-width: 80%;
    max-height: 80%;
}



