@import "../../lib/sass/bourbon/bourbon";


/*********************************************
 * VARIABLES
 *********************************************/
$background_color: #ffffcc;



/*********************************************
 * GLOBAL STYLES
 *********************************************/
html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	position: relative;
	line-height: 1;

	background-color: #fff;
	color: #000;
}




/*********************************************
 * Main slide setup
 *********************************************/

.slidey {
    height: 100%;
    width: 100%;

    .slides {
        // use flexbox for vertical centering
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        justify-content: center;
    }

    .slides section {
//        display: flex;
        position: fixed;
        display: block;
//        margin-left: auto;
//        margin-right:auto;
        text-align: center;
        offset: 0;
        opacity: 0;
//        width: 100%;
    }

    .slides section.next {

    }

    .slides section.previous {

    }

}

/*********************************************
 * Transitions setups
 *********************************************/


