@import "../../lib/sass/bourbon/bourbon";
@import "slidey";


// Create some good styling




    $background_color: #ffffcc;

.slidey {
    .slides {
        // use flexbox for vertical centering
        display: flex;
        align-items: center;

        // import bourbon bitters inside .slidey .slides
        // find some alternative for this.
        @import "../../lib/sass/base/base";
    }




}
