@import "../../lib/sass/bourbon/bourbon";


/*********************************************
 * VARIABLES
 *********************************************/
$background_color: #ffffcc;



/*********************************************
 * GLOBAL STYLES
 *********************************************/
html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	position: relative;
	line-height: 1;

	background-color: #fff;
	color: #000;
}




/*********************************************
 * Main slide setup
 *********************************************/

.slidey {
    height: 100%;
    width: 100%;
    position: relative;
    color: black;
    padding: 0px;

    .slides {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0px;
        min-height: 0 !important;

    }

    .slides section {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0; top: 0; bottom: 0; right: 0;

        align-items: center;
        opacity: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        box-orient: vertical;
        box-pack: center;
        box-align: center;


    }

    .slide div {
        display: block;
    }






    .slides section.next {

    }

    .slides section.previous {

    }

}

/*********************************************
 * Transitions setups
 *********************************************/


