@font-face {
  font-family: 'Glacial Indifference';
  src: url('GlacialIndifference-Regular.eot');
  src: url('GlacialIndifference-Regular.woff2') format('woff2'),
       url('GlacialIndifference-Regular.woff') format('woff'),
       url('GlacialIndifference-Regular.ttf') format('truetype'),
       url('GlacialIndifference-Regular.ttf') format('otf'),
       url('GlacialIndifference-Regular.svg#GlacialIndifference-Regular') format('svg'),
       url('GlacialIndifference-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('GlacialIndifference-Bold.eot');
  src: url('GlacialIndifference-Bold.woff2') format('woff2'),
       url('GlacialIndifference-Bold.woff') format('woff'),
       url('GlacialIndifference-Bold.ttf') format('truetype'),
       url('GlacialIndifference-Bold.ttf') format('otf'),
       url('GlacialIndifference-Bold.svg#GlacialIndifference-Bold') format('svg'),
       url('GlacialIndifference-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('GlacialIndifference-Italic.eot');
  src: url('GlacialIndifference-Italic.woff2') format('woff2'),
       url('GlacialIndifference-Italic.woff') format('woff'),
       url('GlacialIndifference-Italic.ttf') format('truetype'),
       url('GlacialIndifference-Italic.ttf') format('otf'),
       url('GlacialIndifference-Italic.svg#GlacialIndifference-Italic') format('svg'),
       url('GlacialIndifference-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

/* -- thanks to onlinefontconverter.com for converting the fonts */
/* the font itself is by Hanken Design Co */
/* https://hanken.co/ */